$body-color: #1d1c23;
$body-color-active: #242228;
$border-color: #3f3f3f;
$border-color-active: #9b5757;
$subtext-color: #ababab;
$subtext-color-active: $border-color-active;
$asaid-menu-width: 240px;

$item-active-smooth: #9b57571f;

$user-status-valid: #65a26e;
$user-status-banned: #cd8080;
